In [1]:
'a' in 'a'

True

In [2]:
a = [1,2,2,3]
{i for i in a}

{1, 2, 3}

In [3]:
i = '234'.find('3')
print(i)

1

In [4]:
'23234243'.find('3')

1

In [5]:
name_map = {
    r'凤姐儿|凤丫头': '凤姐',
    r'宝玉|二爷|宝二爷': '宝玉',
    r'黛玉|林妹妹|黛玉道': '黛玉',
    r'宝钗|宝丫头': '宝钗',
    r'贾母|老祖宗': '贾母',
    r'袭人|袭人道': '袭人',
    r'贾政|贾政道': '贾政',
    r'贾链|琏二爷': '贾琏'
}

In [6]:
list(name_map.values())

['凤姐', '贾琏', '宝钗', '贾政', '宝玉', '袭人', '黛玉', '贾母']

In [7]:
import re


s = '123424234'
re.split('[2]',s)

['1', '34', '4', '34']

In [8]:
from collections import Counter
Counter(name_map).most_common()

[('黛玉|林妹妹|黛玉道', '黛玉'),
 ('贾链|琏二爷', '贾琏'),
 ('贾母|老祖宗', '贾母'),
 ('贾政|贾政道', '贾政'),
 ('袭人|袭人道', '袭人'),
 ('宝钗|宝丫头', '宝钗'),
 ('宝玉|二爷|宝二爷', '宝玉'),
 ('凤姐儿|凤丫头', '凤姐')]

In [9]:
s = """"name": "Montserrat"
"value": 0
"""
s

'"name": "Montserrat"\n"value": 0\n'

In [10]:
import re

text = '"name": "Montserrat"\n"value": 0\n'

# 使用正则表达式提取 name 和 value
pattern = r'"name":\s*"([\w]+)"\s*"value":\s*(\d+)'

match = re.search(pattern, text)

if match:
    name = match.group(1)  # 获取第一个捕获组的内容，即 "name" 的值
    value = int(match.group(2))  # 获取第二个捕获组的内容，即 "value" 的值，并转成整数
    print("Name:", name)
    print("Value:", value)
else:
    print("No match found")

Name: Montserrat
Value: 0

In [11]:
my_dict = {'b': 2, 'a': 1, 'c': 3}

# 按键排序并生成新的字典
sorted_dict = {k: my_dict[k] for k in sorted(my_dict)}

# 输出排序后的字典
print(sorted_dict)  # 输出 {'a': 1, 'b': 2, 'c': 3}

{'b': 2, 'a': 1, 'c': 3}

In [12]:
dict(sorted(my_dict.items(), key=lambda x:x[0]))

{'a': 1, 'b': 2, 'c': 3}

In [13]:
for i in  range(1,10,2):
    print(i)

1
3
5
7
9

In [14]:
a = 5
print(id(a))  # 输出对象 a 的唯一标识符

1603760912

In [15]:
'aaa'/'a'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [7]:
ord('bee')

TypeError: ord() expected a character, but string of length 3 found

In [8]:
import time
time.ctime()

'Sat Sep 14 20:21:18 2024'

In [9]:
import string
' asdf' in string.printable

False

In [10]:
' ' in string.printable

True

In [22]:
d = {'a': 1, 'b': 2, 'c': 3}
ds = (sorted(d.items(),key=lambda x:x[1],reverse=True))
ds

[('c', 3), ('b', 2), ('a', 1)]

In [25]:
del(d['a'])

In [26]:
d

{'b': 2, 'c': 3}

In [30]:
sum([x for x in range(10)])

45

In [32]:
l =     list(range(5))

In [35]:
l.reverse()
l

[4, 3, 2, 1, 0]

In [37]:
l.copy()

[4, 3, 2, 1, 0]

In [40]:
list(zip(l,l))

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

In [41]:
ss = [2,3,6,9,7,1]
for i in ss:
    print(max(ss),end=',')
    ss.remove(max(ss))

9,7,6,

In [42]:
list('i love you')

['i', ' ', 'l', 'o', 'v', 'e', ' ', 'y', 'o', 'u']

In [43]:
zip([1,2],[3,4])

In [44]:
[1] + '2'

TypeError: can only concatenate list (not "str") to list

In [46]:
'{}'.format('90')
"'{}'".format('90')

"'90'"

In [48]:
import collections

d = collections.defaultdict(int)
d[7]

0

In [49]:
[1] + [2]

[1, 2]